<section class="scroll-mt-24" id="faq">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="">
      <h2 class="text-3xl tracking-tighter font-light lg:text-4xl text-black">
        Desarrollo <span class="block"
          >
        </span>
      </h2>
      <p class="mt-5 text-black">
        Respondamos las preguntas mas frecuentes de la comunidad:<a
          class="text-blue-400 hover:text-black duration-200"
          href="mailto:michael@andreuzza.com"></a
        > 
      </p>

    </div>
    <div x-data="{selected:null}">
      <ul
        class="list-none text-black bg-white rounded-3xl divide-y mt-8"
        role="list"
        @click="open = !open"
      >
        <li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 1 ? selected = 1 : selected = null"
            type="button"
          >
            <div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                ¿Qué es una inteligencia artificial?
              </p>
              <svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
            x-ref="container1"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              Según la Universidad de Palermo, La IA es una disciplina/rama de la informática que se encarga de desarrollar sistemas capaces de realizar tareas que normalmente requieren de la inteligencia humana. Mediante la creación de algoritmos y modelos matemáticos, las máquinas procesan grandes volúmenes de datos, aprenden de ellos mejorando a medida que recopila información y toman decisiones de forma autónoma. Son sistemas de software inteligentes capaces de realizar tareas o tomar decisiones. <a
                class="text-blue-500 hover:text-black"
                href="https://michaelandreuzza.com/"></a
              >
            </div>
          </div>
        </li><li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 2 ? selected = 2 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                ¿Puede una IA adaptarse al campo educativo?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              La respuesta es SI, pero se tiene que ser notoria la utilización de la IA como HERRAMIENTA y no como reemplazo del humano. 
              <div class="text-sm text-zinc-500 p-2 pt-0"></div>
La IA permite adaptar el contenido educativo a las necesidades individuales de cada persona, tanto como para alumnos o profesores. Según un informe de la UNESCO, "el aprendizaje adaptativo basado en IA puede ajustar la dificultad de los ejercicios y ofrecer recursos específicos para ayudar a los estudiantes a superar sus debilidades". La capacidad de adaptación a situaciones hipotéticas de las IAs es sorprendente. 

            </div>
          </div>
        </li><li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 3 ? selected = 3 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                ¿Como pueden utilizar las IAs los estudiantes?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
            x-ref="container3"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              Normalmente los alumnos adaptan las respuestas de la inteligencia artificial para obtener resultados parecidos o similares a los que nos podría entregar un profesor, tipeando introducciones al chat similares a: 
              <div class="text-sm text-zinc-500 p-2 pt-0"></div>
“responde como si estuvieras en el lugar de un profesor de matemática de una escuela secundaria”
<div class="text-sm text-zinc-500 p-2 pt-0"></div>
Esta introducción nos da una respuesta muy cercana a un profesor real.
<div class="text-sm text-zinc-500 p-2 pt-0"></div>
Lógicamente, el uso más frecuente que le dan los estudiantes es para resolver actividades, pegando la consigna en el chat y obteniendo directamente la respuesta. Esto se suele interpretar como un problema porque el alumno no es obligado a pensar o construir su propia conclusión para resolver la actividad, dejando en peligro el nivel de aprendizaje que puede llegar a desempeñar. La solución mas optima que se ha encontrado hasta ahora es desarrollando consignas que obliguen al estudiante a razonar, utilizando su creatividad y capacidad de desarrollo sin ayuda de un chat o realizando actividades que estén monitoreadas en el momento de la resolución. 

            </div>
          </div>
        </li><li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 4 ? selected = 4 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                ¿Como pueden utilizar las IAs los maestros?

              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 4 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              Del mismo modo que los estudiantes, los maestros también pueden emplear estos chats para obtener información de forma fácil y rápida, desarrollar clases mejorando su calidad de contenido, o hasta corrigiendo actividades o exámenes. 
              <div class="text-sm text-zinc-500 p-2 pt-0"></div>
La tarea del profesor es un tanto más delicada que la del alumno, ya que es el encargado de transmitir sus conocimientos hacia los menores. La utilización de inteligencias artificiales debe ser mucho mas sutil y supervisada por el maestro, ya que un resultado erróneo del chat puede verse reflejado en el aprendizaje del alumno. 
<div class="text-sm text-zinc-500 p-2 pt-0"></div>
Muchos profesores aun no logran adaptar estas inteligencias a sus clases. Esto lo veo como una desventaja para ellos, impidiendo gozar de esta herramienta fundamental en el futuro del humano.

            </div>
          </div>
        </li>
        <!-- <li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 5 ? selected = 5 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                <!-- ¿Cómo puedo usar una IA correctamente?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              > -->
            <!-- </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : ''"
            x-ref="container5"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              minimal wants you to be happy with the results! Hence the
              unlimited requests.
            </div>
          </div>
        </li>

        <li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 7 ? selected = 7 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                Are there any refunds?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 7 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              Unfortunately, not. Because of the intense creative demands for
              delivering top-notch design and development within tight
              timeframes and the thorough research invested to achieve the best
              outcomes, minimal's cannot provide our services without
              compensation.

              <br /><br />
              However, we understand the importance of client satisfaction. If, after
              our initial discussion, it turns out that our services do not align
              with your needs and no work has been initiated, rest assured that you
              are eligible for a 100% refund. minimal value transparency and want
              our clients to feel confident in their interactions with minimal's.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section> --> -->


























