<section class="overflow-hidden relative ">
<img src="ia-background.jpg" alt="">


  <div class="px-7 md:px-12 py-18 max-w-2xl mx-auto relative mt-50">
    <div>
       <!--<span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-sm leading-6 text-black ring-1 ring-zinc-200 bg-white ring-inset"
      >
        <p>1  Spots available</p> 
        <div class="h-2 w-2 rounded-full bg-black border-2 border-black "></div>

        <div class="h-2 w-2 rounded-full border-black border-2 "></div>
      </span> -->
      <h1 class="text-5xl mt-12 tracking-tighter font-normal text-black ">
        LA INTELIGENCIA ARTIFICIAL <span class="block"
          >en el campo educativo</span
        >
      </h1>
    </div>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-8"
    >
      <div>
        <p>
          Lengua y Literatura
          4ยบ1ยบ ACPI.
        </p>
      </div>
      <div>
        <p>
          Profesora: Jennifer Bahri
          
        </p>
      </div>
      <div>
        <p>
          Alumno: Lautaro Cava
          
        </p>
      </div>
      <div>
        <p>
          Profesor: Pablo Limardo
          
        </p>
      </div>
      <!-- <em class="col-span-full text-sm mt-8">
        <p>
          
          <span class="block text-black"></span>
        </p> -->
      </em>
    </ul>
  </div>
</section>
