<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
    <h2
        class="text-2xl tracking-tighter  font-light lg:text-4xl text-black"
      >
    Introducción
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
El ser humano, a lo largo de su historia ha intentado superarse a si mismo realizando acciones cotidianas de forma más fácil, rápida y eficaz; desde el invento de la rueda hasta la creación de sistemas complejos o inteligencias artificiales. 
      <p class="text-sm text-zinc-500 mt-8">
          En la siguiente monografía abordaremos este ultimo tema. Las inteligencias artificiales, centrándonos en su uso en el campo educativo, tanto para los maestros como para los alumnos. 
      <p class="text-sm text-zinc-500 mt-8">
        Las Inteligencias Artificiales han revolucionado diversos campos, y la educación no es una excepción. Durante los últimos años, el mejoramiento de estas IAs fue rotundo y notorio. Lograron alcanzar resultados muy cercanos a los que nos puede entregar el ser humano. Esto repercutió mucho en la educación. 
      <p class="text-sm text-zinc-500 mt-8">
        Los maestros lograron crear actividades, exámenes o corregir ejercicios ayudándose de estos recursos computacionales, y los alumnos a menudo utilizan estos llamados “chats” para resolver, entender o corregir conceptos. La aplicación de la IA en la educación puede ser extensa, podía nombrar millones de ejemplos en los que un alumno puede utilizar una inteligencia artificial en la escuela, por el contrario, los invito a analizar el punto de vista de un profesor. 

      </p>
    </div>
  </div>
</section>
