<section id="conclusion" class="mt-8 ">
  <div class=" md:px-12 py-12 lg:max-w-2x mx-auto ">
    <!-- Aca es la configuracion de background de conclusion -->
    <div
   
      class="h-full bg-black  rounded-3xl text-center overflow-hidden p-8  lg:mx-auto sm:max-w-2xl"
    >
      <h2 class="pt-10 text-5xl tracking-tighter font-normal md:text-4xl text-white">
        Conclusión <span class="md:block text-zinc-300"
          ></span
        >
      </h2>
      <p class="mt-4 text-base text-zinc-300   pb-10">
 
En mi opinión, creo que las inteligencias artificiales llegaron para quedarse. Son una herramienta rápida, fácil de usar y con resultados especificas muy cercanos a los que nos puede responder un profesor o técnico profesional. Podemos encontrarles muchas aplicaciones y utilidades.
Las inteligencias artificiales evolucionaron la forma de entender a la educación.
Actualmente, las IAs se encuentran en todos lados, sin irnos más lejos, uno de los párrafos de este texto ha sido desarrollado completamente por una inteligencia artificial. 
Te invito a que lo encuentres y me dejes tu opinión sobre el tema, muchas gracias. 
 

      </p>
      
  </div>
</section>
