<section>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div
      class="h-full bg-black  rounded-3xl text-center overflow-hidden p-8"
    >
      <h2 class="text-5xl tracking-tighter font-normal md:text-4xl text-white">
        Conclusión <span class="md:block text-zinc-300"
          ></span
        >
      </h2>
      <p class="mt-4 text-base text-zinc-300 max-w-xl mx-auto">
        Conclusión: 
En mi opinión, creo que las inteligencias artificiales llegaron para quedarse. Son una herramienta rápida, fácil de usar y con resultados especificas muy cercanos a los que nos puede responder un profesor o técnico profesional. Podemos encontrarles muchas aplicaciones y utilidades.
Las inteligencias artificiales evolucionaron la forma de entender a la educación.
Actualmente, las IAs se encuentran en todos lados, sin irnos más lejos, uno de los párrafos de este texto ha sido desarrollado completamente por una inteligencia artificial. 
Te invito a que lo encuentres y me dejes tu opinión sobre el tema, muchas gracias. 
 

      </p>
      <div class="flex mt-8 justify-center">
        <a
          href="#pricing"
          class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto"
          >Busca el párrafo oculto
        </a>
      </div>
    </div>
  </div>
</section>
